*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Work Sans;
}
body{
    height: 100vh;
    background-color: hsl(275, 100%, 97%);
    background-image: url(background-pattern-desktop.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 25px;
}
main{
    background-color: white;
    padding-top: 10px;
    margin-top: -40px;
    padding-left: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px black;

}
header{
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 20px;
    color: hsl(292, 42%, 14%);
}
.accordion
{
   width: 450px;
   
}

.star{
    height: 25px;
    width: 25px;
}
.question{
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 600;
    height: 40px;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: hsl(292, 42%, 14%);
}
#what:hover{
    color:#ad28eb;
    cursor: pointer;

}
button{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border:hsl(292, 42%, 14%);
}
.minus,.plus{
    height: 20px;
    width: 20px;

    
}
.answer-active,.answer-hidden{
    font-size: 13.5px;
    color: hsl(292, 16%, 49%);
    width: 90%;
    text-align: justify;
    margin-bottom: 25px;
    align-content: center;
}
.answer-hidden{
    display: none;
}
hr{
    width: 95%;
    opacity: 0.1;
    margin-bottom: 8px;
}
